

<mat-toolbar color="primary">
  <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav #start>
  <mat-nav-list (click)="start.close()">

    <a mat-list-item routerLink="/start">
      <mat-icon>library_books</mat-icon>
      <span> Start</span>
    </a>

    <a mat-list-item routerLink="/customers">
      <mat-icon>library_books</mat-icon>
      <span> Customers</span>
    </a>

    <a mat-list-item routerLink="/template-syntax">
      <mat-icon>library_books</mat-icon>
      <span> Template Syntax</span>
    </a>

    <a mat-list-item routerLink="/legal-notice">
      <mat-icon>library_books</mat-icon>
      <span> Legal Notice</span>
    </a>

    <a mat-list-item routerLink="/login" *ngIf="isLoggedOut$ | async">
      <mat-icon>account_circle</mat-icon>
      <span>Login</span>
    </a>

    <a mat-list-item  (click)="logout()" *ngIf="isLoggedIn$ | async">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>

  <!--  <a mat-list-item routerLink="/login">
    <mat-icon>account_circle</mat-icon>
    <span>Login</span>
    </a>

    <a mat-list-item (click)="logout()">
      <mat-icon>person</mat-icon>
      <span> Logout</span>
    </a>-->
  </mat-nav-list>

</mat-sidenav>

