.alert {
  padding: 10px;
}

.alert-warning {
  background-color: rgba(255,6,37,0.44);
  border: 1px solid rgba(255,0,41,0.75)
}

.alert-info {
  background-color: rgba(0,206,255,0.3);
  border: 1px solid rgba(0,206,255,0.82);
}
